<h1> Merchant Discounts</h1>
<% @merchant.bulk_discounts.each do |discount| %>
<p><%= link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount) %> <br>
<%= "Discount Percentage: #{discount.percentage}---- Item Quantity: #{discount.quantity}"%></p>
<%end%>
<h2> Upcoming Holidays </h2>
  <section id="upcomingholidays-">
  <% @json_holidays.each do |holiday|%>
  <%= holiday%>
  <%end %>
</section>
