<h1> Bulk Discount: <%= @bulk_discount.name%></h1>
<p>Percentage Discounted: <%=@bulk_discount.percentage%></p>
<p>Quantity Threshold: <%=@bulk_discount.quantity%></p>
<p><%=link_to "Edit this bulk discount", edit_merchant_bulk_discount_path(@merchant, @bulk_discount)%></p>
